* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  background-image: url("Konark-Sun-Temple-In-Odisha.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 20%;
}

.container {
  font-family: "Cinzel", serif;
  color: white;
}

h2 {
  margin: 13vh 50px 10px 50px;
  font-size: 60px;
  letter-spacing: 7px;
  word-spacing: 10px;
}

p#time {
  letter-spacing: 5px;
  font-size: 25px;
}
